################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.db
*.db-shm
*.db-wal
*.vsidx
*.suo
/API_FedEx_Quote/.vs/API_FedEx_Quote/v17/DocumentLayout.backup.json
/API_FedEx_Quote/.vs/API_FedEx_Quote/v17/DocumentLayout.json
*.cache
/API_FedEx_Quote/obj/Debug/API_FedEx_Quote.sqlproj.FileListAbsolute.txt
/API_FedEx_Quote/bin/Debug/API_FedEx_Quote.dacpac
*.pdb
*.xml
*.Up2Date
/API_FedEx_Quote/obj/Debug/API_FEDEX_QUOTE.generated.sql
/API_FedEx_Quote/bin/Debug/API_FedEx_Quote.publish.sql
/API_FedEx_Quote/bin/Debug/DeploymentReport.txt
/API_FedEx_Quote/API_FedEx_Quote.jfm

*.dbmdl
